@charset "utf-8";
/* CSS Document */
html,body{margin:0;pading:0;}
body{background:url(bg.jpg) repeat-y;width:100%;height:auto;overflow-x:hidden; }
a{text-decoration:none;}
.toubu{max-width:90%;width:80%;margin:0px auto;height:120px;}
.logo{margin-top:20px;margin-left:20px;    float: left;width:10%}
.newPrimaryTitle{font-family: 楷体, 楷体_GB2312, SimKai;color: rgb(7, 108, 224);font-weight: 700;font-size: 48px;   float: left;   margin-top: 15px;    line-height: 80px;}
.menu{width:60%;height:50px;float:left;}
.menu ul{list-style:none;max-width:100%}
.menu ul li{list-style:none;width:20%;height:80px;text-align:center;line-height:50px;line-height:80px;float:left}
.menu ul a{color:#FFF;font-color:16px;}
.banner{max-width:90%;width:80%;height:450px;margin:0px auto}

.zjneirong{background-color:#000;max-width:90%;width:80%;height:615px;margin:0px auto}

.diamond{   width: 60px;   height: 60px;   background-color: #076ce0;   transform:rotate(45deg);   /*-ms-transform:rotate(45deg);    -moz-transform:rotate(45deg);    -webkit-transform:rotate(45deg);   -o-transform:rotate(45deg); */  }


.zjsan{background-color:#000;max-width:100%;width:100%;height:380px;margin:0px auto}

.shoudi{background-color:#fff;max-width:100%;width:100%;height:228px;margin:0px auto}

.dibu{background-color:#2d2d2d;width:100%;height:164px;margin:0px auto;margin:0px;padding:0px ;display:block;    overflow: hidden;}

















@media screen and (min-width:600px) and (max-width:900px){
  .toubou {width:100%}
  .newPrimaryTitle{font-family: 楷体, 楷体_GB2312, SimKai;color: rgb(7, 108, 224);font-weight: 700;font-size: 40px;   float: left;width:20% ;   margin-top: 15px;    line-height: 80px;}

}
